<div class="sideBarContainer ">
  <div>
    <h1><span class="text-success">TASK</span>IT</h1>
    <button class="btn btn-success">Task List</button>
  </div>
  <div class="profileContainer">
    <div class="imageContainer">
      <img
        class="img-fluid"
        src="/assets/images/profile.jpg"
        alt="profile picture"
      />
    </div>
    <div class="d-flex flex-column mr-3">
      <span>Name</span>
      <span>email@example.com</span>
    </div>
    <div>
      <span class="material-symbols-outlined"> move_item </span>
    </div>
  </div>
</div>
