<div class="sideBarContainer">
  <div class="menu-section">
    <h1><span class="highlight-text">TASK</span>IT</h1>
    <div class="menu-buttons">
      <button
        mat-button
        #btn="routerLinkActive"
        [ngClass]="btn.isActive ? 'active' : ''"
        routerLink="/task-list"
        routerLinkActive
        (click)="gotoTask()"
      >
        Task List
      </button>
      <button
        mat-button
        #btn2="routerLinkActive"
        [ngClass]="btn2.isActive ? 'active' : ''"
        routerLink="/kanban-board"
        routerLinkActive
        (click)="gotoKanban()"
      >
        KanBan Board
      </button>
    </div>
  </div>
  <div class="profile-section">
    <img
      src="http://source.unsplash.com/50x50/?profile"
      alt="profile picture"
      class="profile-img"
    />
    <div class="profile-info">
      <span>Monkey D NFT</span>
      <span>email@example.com</span>
    </div>
    <div class="icon-section">
      <span class="material-symbols-outlined"> move_item </span>
    </div>
  </div>
</div>
