.sideBarContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.profileContainer {
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 10px;
}

.imageContainer {

  border-radius: 50%;
}
