<mat-dialog-content>
  <h2 matDialogTitle>{{ task.title }}</h2>

  <!-- Modal content goes here -->
  <div class="modal-body-content">
    <p><strong>Due Date:</strong> {{ task.dueDate | date }}</p>
    <p><strong>Priority:</strong> {{ task.priority }}</p>
    <p><strong>Status:</strong> {{ task.status }}</p>
    <p><strong>Description:</strong> {{ task.description }}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button>Close</button>
  <button mat-raised-button color="primary">Edit</button>
</mat-dialog-actions>
