<header>
  <h1>Task List</h1>
</header>
<div class="d-flex justify-content-between my-2">
  <div class="d-flex justify-content-around">
    <label>Filters:</label>
    <select class="form-select" aria-label="Default select example">
      <option selected disabled hidden>Status</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <select class="form-select" aria-label="Default select example">
      <option selected disabled hidden>Date</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <select class="form-select" aria-label="Default select example">
      <option selected>Priority</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div>
    <button (click)="onAddNewTask()" class="btn btn-success rounded">
      Add new Task
    </button>
  </div>
</div>
<div class="table-responsive border border-black">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">Due Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let task of tasks">
        <th scope="row">{{ task.title }}</th>
        <td>{{ task.dueDate | date }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.status }}</td>
        <td class="d-flex justify-content-around">
          <span
            class="material-symbols-outlined"
            (click)="onViewTask(task.taskId)"
          >
            visibility
          </span>
          <span class="material-symbols-outlined" (click)="onEditTask(task.taskId)">
            edit
          </span>
          <span
            class="material-symbols-outlined"
            (click)="onDeleteTask(task.taskId)"
          >
            delete
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
