.material-icons {
  cursor: pointer;
  color: #333; // Default color

  &:hover {
    color: #007bff; // Color when the mouse hovers over the icon
  }
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #dee2e6;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;

  th,
  td {
    border: none;
  }
}